@CHARSET "UTF-8";

body {
	background: url(../images/scene1.jpg) no-repeat center fixed;
	font-family: 'Roboto', sans-serif;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
}

body a {
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

ul, label {
	margin: 0;
	padding: 0;
}

body a:hover {
	text-decoration: none;
}

.banner {
	background: url(../images/scene1.jpg) no-repeat center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	min-height: 825px;
}

.container {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	padding-bottom: 10em;
}
.header {
	padding: 2em 0;
}

.logo {
	float: left
}

.logo a {
	display: block;
}

.logo-right {
	float: right;
}

.logo-right span {
	display: none;
}

.logo-right ul {
	padding: 1.6em 0 0 0em;
	margin: 0;
}

.logo-right ul li {
	display: inline-block;
	margin: 0 15px;
}

.logo-right ul li a {
	font-size: 22px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-weight: 500;
	font-family: "Microsoft YaHei",微软雅黑,华文细黑 
}

.logo-right ul li a:hover {
	color: #3a45cb;
	text-decoration: none;
}

.banner-info {
	padding: 1em 0 1em 0;
	text-align: center;
	margin: 0 auto;
	background: rgba(25,25,112,0.4);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
}

.banner-info h1 {
	font-size: 3.5em;
	text-align: center;
	margin: 0;
	color: #fff;
	font-weight: 1500;
	letter-spacing: 2px;
	font-family: "Microsoft YaHei",微软雅黑,华文细黑 
}

.banner-info p {
	font-size: 2.5em;
	margin: .2em 0 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	font-family: "Microsoft YaHei",微软雅黑,华文细黑 
}
.read {
	padding: 2em 0 0 0;
	margin: 3em 0 0;
}

.read a {
	padding: 8px 40px;
	color: #3a45cb;
	font-size: 22px;
	text-decoration: none;
	border: 2px solid #3a45cb;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family: "Microsoft YaHei",微软雅黑,华文细黑 
}

.read a:hover {
	text-decoration: none;
	color: #fff;
	font-family: "Microsoft YaHei",微软雅黑,华文细黑 
}

.cl-effect-1 a::before, .cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before, .cl-effect-1 a:hover::after, .cl-effect-1 a:focus::before,
	.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/*-- //effect --*/
/* Rectangle Out */
.hvr-rectangle-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 100, 0.6);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	background: none;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #3a45cb;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active
	{
	color: white;
}

.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before,
	.hvr-rectangle-out:active:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media ( max-width :1024px) {
	.banner-info h1 {
		font-size: 3em;
	}
	.banner-info p {
		font-size: 2em;
	}
	.banner-info {
		padding: 7em 0 0;
	}
	.banner {
		min-height: 565px;
	}
}

@media ( max-width :768px) {
	.logo-right ul li {
		margin: 0 5px;
	}
	.banner-info h1 {
		font-size: 2em;
	}
	.banner-info {
		padding: 5em 0 0;
	}
	.banner-info p {
		font-size: 1.9em;
	}
	.banner {
		min-height: 500px;
	}
}

@media ( max-width :667px) {
	.logo-right ul {
		padding: 3em 0 0 0em;
	}
	.banner-info h1 {
		font-size: 2.4em;
	}
	.banner-info p {
		font-size: 1.3em;
	}
}

@media ( max-width : 640px) {
	.logo-right ul li {
		margin: 0;
	}
	.header {
		padding: 1em 0;
	}
	.banner-info h1 {
		font-size: 1.8em;
	}
	.banner-info {
		padding: 4em 0 0;
	}
	.banner {
		min-height: 395px;
	}
}
@media ( max-width :480px) {
	.logo {
		float: left;
		width: 29%;
	}
	.banner-info {
		padding: 2em 0 0;
	}
	.logo img {
		width: 100%;
	}
	.logo-right ul {
		position: absolute;
		padding: 0;
		margin: 0;
		left: 2%;
		width: 96%;
		z-index: 999;
	}
	span.menu {
		display: block;
		cursor: pointer;
		width: 100%;
		position: relative;
		text-align: right;
		margin: 3px 0;
	}
	ul.nav1 {
		display: none;
		background: #48BF72;
		margin-top: 2em;
	}
	.logo-right {
		margin-top: 1.2em;
	}
	.banner-info h1 {
		font-size: 1.5em;
	}
	.banner-info p {
		font-size: 1.2em;
	}
	.read a, .read1 a {
		padding: 7px 30px;
		font-size: 13px;
	}
	.read {
		margin: 2em 0 0;
	}
	.banner {
		min-height: 330px;
	}
	.logo-right ul li a:hover {
		color: #000;
	}
}

@media ( max-width : 414px) {
	.logo {
		width: 35%;
	}
}

@media ( max-width :320px) {
	.logo-right span img {
		width: 100%;
	}
	.logo-right {
		width: 15%;
	}
	.logo {
		width: 42%;
	}
	.logo-right {
		margin-top: 1em;
	}
	.banner-info h1 {
		font-size: 1.3em;
		letter-spacing: 0px;
	}
	.banner-info {
		padding: 3em 0 0;
	}
	.banner-info p {
		font-size: 1em;
	}
	.read a, .read1 a {
		padding: 5px 15px;
		font-size: 11px;
	}
	.read {
		margin: 1.5em 0 0;
	}
	.banner {
		min-height: 285px;
	}
}